.App { display: grid;
  text-align: center;

}
.conteiner { grid-row: 2/3;
justify-self: center;
width: 500px;
text-align: center;
padding: 60px;
background: grey;
border-radius: 15px;
outline-color: rgb(226, 43, 43);
outline-width: 2px;
outline-style:double;
}

.display {font-size: 60px;
  font-style:italic;
  color:rgb(0, 179, 255)}

.dangerous {color: rgb(255, 0, 0)}

.i {background: yellowgreen;
border-radius: 5px;
margin: 20px;}

.r {background: rgb(139, 0, 69);
  border-radius: 5px;
margin: 20px;}